# Ignorer les fichiers de configuration VPN
*.conf
!dir.conf
*.ovpn

# Ignorer les clés privées et certificats
*.key
*.crt
*.pem

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers temporaires et systèmes
*.swp
*.swo
*.bak
*.tmp

# Ignorer les dossiers spécifiques
config/clients/
secrets/
/backend/services/__pycache__
/wireguard-config/coredns
/backend/routes/__pycache__
/backend/__pycache__
/backend/config/__pycache__
/backend/utils/__pycache__
