version: "3.8"

services:
  wireguard:
    image: ghcr.io/linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    network_mode: "host" # le conteneur partage le réseau de l’hôte
    environment:
      - PUID=1000 # UID local (tu peux vérifier avec `id -u`)
      - PGID=1000 # GID local (`id -g`)
      - TZ=Africa/Nairobi
      - SERVERURL=192.168.88.25 
      - SERVERPORT=51820 # port UDP WireGuard
      - PEERS=client1 
      - PEERDNS=8.8.8.8
      - INTERNAL_SUBNET=10.8.0.0 # réseau VPN interne
    volumes:
      - ./config:/config 
      - /lib/modules:/lib/modules:ro
    restart: unless-stopped
